@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:300);

/*= GENERAL STYLING
--------------------------------------------------------*/
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: auto; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }

/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header { 
	width:100%;
	background: #F6F6F6;
	height:75px;
	position: fixed;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
}

a.active {
	color: black;
	text-decoration: none;
}



#nav { 
	background-color: transparent;
	width: 75px;
	float: left;
}

#logo a {
	text-align: center;
	margin-left: 45%;
}

.second-header {
	/* Rectangle 1: */
    background: linear-gradient(to right,#d4a4cb,#fdecae,#b7cdec,#f2d6e9);
	width:auto;
	height:15px;
	right: 0px;
	top: 0px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -75px;
} 

/*= SLIDES STYLING
--------------------------------------------------------*/

#slide1, #slide2{ width: 100%; }
#slide1{
	color: black;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#slide2{
	background-color: #fff;
	color: #333333;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
}

#slide3{
	background: url(../img/slide3.jpg) 10% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	height: 600px;
	padding: 200px 0;
}

#slide5{
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	height: 600px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}

/*= ORIGINAL STYLING
--------------------------------------------------------*/


.title-container {
	height: 200px;
	width: 400px;
	margin: 150px auto;
	margin-top: -75px;
}

@-webkit-keyframes flash {
   	0% {color:black;border-color: #4A4A4A transparent transparent transparent;}
    50%{color:white;border-color: transparent transparent transparent transparent;}
   	100% {color:black;border-color: #4A4A4A transparent transparent transparent;}
}
}

/* Standard syntax */
@keyframes flash {
    0% {color:black;border-color: #4A4A4A transparent transparent transparent;}
    50%{color:white;border-color: transparent transparent transparent transparent;}
   	100% {color:black;border-color: #4A4A4A transparent transparent transparent;}
}

.scroll-arrow {
	height: 200px;
	width: 10px;
	margin-top: -10px;

}

.arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: #4A4A4A transparent transparent transparent;
	margin-left: 200px;
	-webkit-animation-name: flash; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
 }

 .scroll-text {
 	-webkit-animation-name: flash; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
	 	/* Scroll to continue: */
	font-family: Ek Mukta;
	font-size: 14px;
	color: #4A4A4A;
	line-height: 24px;
	text-align: center;
	margin-top: -100px;
 }

 .background-pic {
 	margin-top: -150px;
 	margin-left: -100px;
 }

 /*= THROW DATA
--------------------------------------------------------*/


.page-title {
		/* What your throw look: */
	font-family: Ek Mukta;
	font-size: 48px;
	color: #4A4A4A;
	text-align: center;
}

.stat-container {
	height: 200px;
	width: 100px;
}

 table.metrics {
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 150px 0px;
    text-align: center;
    width: 100%;
    margin-left: -100px;

 }

table.icons {
	margin-top: 10px;
	margin-left: 5px;
    border-spacing: 5px 10px;

}

tr:nth-child(1) {
		/* Initial Acceleration: */
	font-family: Ek Mukta;
	font-size: 30px;
	color: #4A4A4A;
	line-height: 36px;
}

tr:nth-child(2) {
		/* 12: */
	font-family: Ek Mukta;
	font-size: 56px;
	color: #4A4A4A;
	line-height: 56px;
}
tr:nth-child(3) {
		/* ft. per second ^2: */
	font-family: Ek Mukta;
	font-size: 24px;
	color: #4A4A4A;
	line-height: 24px;
}

.data-graph {
	text-align: center;
	margin-top: 25px;
}

.ranking-column {
	background: black;
	padding-top: 45px;
	margin-right: 50px;
	height: 400px;
	width:300px;
	float:right;
}

.icon-grid {
	margin-top: 2em;
	margin-bottom: 3em;
	float: left;
	/* overflow: auto;	Make the parent contains the floated children */	
}


/* Float each item in the list to make it display in a grid */
/* We've used the border box reset so we don't have to worry about combining widths and margins */
.icon-grid li {
	float: left;
	margin-right: 1.5%;
	margin-bottom: 1em;
	max-width: 20%;
}

.icon-grid ul{
	margin-left: 16%;
	margin-right: 3%;

}


#name-column {
	float:left;
	font-family: 'Ek Mukta';
	font-weight: 300;
	font-size: 30px;
	color: #4A4A4A;
	line-height: 48px;
	margin-left: 40%;
}

#distance-column {
	float:right;
	font-family: 'Ek Mukta';
	font-weight: 300;
	font-size: 30px;
	color: #4A4A4A;
	line-height: 48px;
	margin-right: 40%;
}

#throw-graph {
	margin-top: 100px;
	margin-left: 25%;

}

#team {
	width: 800px;
	float:left;
	font-family: 'Ek Mukta';
	font-weight: 300;
	font-size: 18px;
	color: #4A4A4A;
	line-height: 24px;
	margin-left: 23%;
}

 #line{
    width: 700px;
    margin: 20px 0;
    height: 150px;
    background: #eee;
  }
  button {
    margin: 20px 0 0 20px;
  }


#plotSVG{
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 300px;
    
    
}

/* ANIMATION FOR LOGO HOVER
#logo:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
	text-align: center;
	margin-left: 45%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
*/